body{
  text-align: center;
  width: 500px;
}
.theLogo{
  height: 100px;
  padding: 10px;
  margin: 5px;
}
.block{
  display: flex;
  flex-direction: row;
}
a{
  text-decoration: none;
  color: #00E5EEFF;
}
a:visited{
  color: pink;
}
